@import 'reset';
@import 'variables';
@import 'typography';
@import 'base';
@import 'code';
@import 'content-box';
@import 'utils';

.g-image {
    &--loading {
        display: flex;
    }

    &--aspect-ratio {
        height: 0;
        overflow: hidden;
        background-color: inherit;
        position: relative;

        &-inside {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
  }
}